In [1]:
import pandas as pd

In [2]:
# Import the data
df = pd.read_csv('/Users/rafihidayat/Desktop/Desktop - Rafiâ€™s MacBook Pro/portfolio_projects/London Bike Sharing/london_merged.csv')

In [3]:
# Explore the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
df.shape

(17414, 10)

In [5]:
# Glimpse of the data
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [6]:
# Count the unique values on weather_code column
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [7]:
# Count the unique values on season column
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [8]:
# Specifying the new column name in a dictionary
new_cols_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified new column
df.rename(new_cols_dict, axis=1, inplace=True)

In [9]:
# Change the humidity value to 0-1
df.humidity_percent = df.humidity_percent / 100

In [10]:
# Create a dictionary to transform integer values in season column to string
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# Change the season column datatype to string
df.season = df.season.astype('str')
# Apply the dictionary to season column
df.season = df.season.map(season_dict)

# Create a dictionary to transform integer values in weather column to string
weather_dict = {
    '1.0':'clear',
    '2.0':'scatter clouds',
    '3.0':'broken clouds',
    '4.0':'cloudy',
    '7.0':'rain',
    '10.0':'rain with thunderstorm',
    '26.0':'snowfall'
}

# Change the weather column datatype to string
df.weather = df.weather.astype('str')
# Apply the dictionary to weather column
df.weather = df.weather.map(weather_dict)

In [11]:
# Preview the data
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [13]:
# Save to csv file
df.to_csv('london_bike_final.csv')